*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
:root{
    --cor_primaria:#cf535b;
    --cor_primaria-100:#e88a66;
    --cor_primaria-200:#c9485a;
    --cor_primaria-300:#dd6f62;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    /* background-color:  var(--cor_primaria-300 ) ;
     */
}

h1{
    margin-bottom: 20%;
}

input{
    outline: none;
    border-style: none none solid none;
    border-width: 1px;
    width: 250px;
    height: 25px;  
}

#bnt-cad-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    border: none;
    width: 250px;
    cursor: pointer;
    padding: 8px;
    text-transform: uppercase;
    background-color: #f55353;
    color: white;
}

a{
    text-decoration: none;
    color: #ffff;
}

p{
    margin-top: 20%;
}

