* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor_primaria: #fc782c;
    --cor_primaria-100: #f55353;
    --cor_primaria-200: #f55353;
    --cor_primaria-300: #f55353;
    --cor_secundaria: #000000;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, var(--cor_primaria), var(--cor_primaria-300));
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 42px;
    background-color: #f5f5f5;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 5px gray);
    max-width: 400px;
    width: 90%;
    border: 2px solid var(--cor_primaria);
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 10px;
    transition: border-bottom-color 0.3s ease-in-out;
}

input:hover {
    border-bottom-color: var(--cor_primaria);
}

button {
    border: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    background-color:  #f55353;
    color: white;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--cor_primaria-200);
}

#info-cad {
    margin-top: 20px;
    text-align: center;
    color: var(--cor_secundaria);
}

@media (max-width: 600px) {
    input {
        height: 25px;
    }

    button {
        margin-top: 15%;
    }

    #info-cad {
        margin-top: 20%;
    }
}
