body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #4b4b4b;
}
h2{
  background-color: #ccc;
}
header {
  background: linear-gradient(to right, #fc782c, #c2351c); 
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

header div {
  display: flex;
  align-items: center;
}

.div-h1 {
  gap: 16px;
}

header h1 {
  font-size: 28px;
  letter-spacing: 1px;
}

header button {
  background-color: #fff;
  color:  #e68535;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: -200px;
}

header button:hover {
  background-color: #e68535;
  color: #fff;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header img#img-perfil-usuario {
  max-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 10px;
  gap: 10px;
}

#h1-nome-usuario {
  margin: 0;
  font-size: 1.5em;
}

#p-contador-curtidas {
  width: 100%;
}

main h2 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 414px;
  background-color: #fff;
  transition: transform 0.3s;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

li:hover {
  transform: translateY(-5px);
}

#img-receita {
  width: 100%;
  height: 200px;
}

li h3 {
  font-size: 18px;
  text-align: center;
}

li p {
  margin-top: 10px;
  text-align: center;
}


li button {
  background-color: #7e2e00;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

li button:hover {
  background-color:  #7e2e00;
}

li div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.botao {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  transition: background-color 0.3s, color 0.3s;
}

.div-pai{
  flex-direction: column;
  align-items: normal;
}

.link a {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  gap: 8px;
  justify-content: space-between;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}    

.vermais {
  width: 100%;
  background-color: #7e2e00;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.vermais:hover {
  background-color: #7e2e00;
  color: #fff;
}

.icone-bloquear img{
  border: none;
  width: 25px;
  height: 25px;
}

.icone-lixeira img{
  border: none;
  height: 25px;
}

.icone-lixeira{
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

.icone-voltar{
  width: 35px;
  height: 35px;
  z-index: 2;
}

.div-infos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
